@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
*{
    font-family: 'Fira Mono', monospace;
}
$primary-color : #fb8c00;
.text-primary {
  color : $primary-color !important;
}
.no-margin {
  margin: 0 !important;
}
.glitch{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.glitch .glitch-content{
    color: #333;
    font-size: 3em;
    position: relative;
    margin: 0 auto;
}
.glitch .glitch-content::after{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0.25px 0 blue;
    left: 1px;
    color: #333;
    overflow: hidden;
    clip: rect(2, 900px,0 ,0);
    animation:noise-anim 2s infinite linear alternate-reverse;
    -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
    transform: translate(0px, 0px);
    width: 100%;
}
.glitch .glitch-content::before{
    position: absolute;
    content: attr(data-text);
    text-shadow: -0.75px 0 orange;
    left: -1px;
    top:0;
    color: #333;
    overflow: hidden;
    clip: rect(2, 900px,0 ,0);
    animation:noise-anim-2 3s infinite linear alternate-reverse;
    -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;

    transform: translate(0px, 0px);
}
.writer-text{
    color: #333;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}
.my-title{
 font-size: 1.5em;
 margin-bottom: 1em;
 text-decoration:underline orange 2px;
}
.my-border{
  position: fixed;
  background: orange;
  z-index: 2000;
}
.my-border.top{
  top:0;
  width:100%;
  height: 1em;
}
.my-border.bottom{
  bottom:0;
  width:100%;
  height: 1em;
}
.my-border.left{
  left:0;
  width:1em;
  height: 100%;
}
.my-border.right{
  right:0;
  width:1em;
  height: 100%;
}
.my-container{
  padding: 2em;
  padding-bottom: 8em;
}
.mouse-scrolling{
  text-align: center;
  margin-top: 2em;
  position: absolute;
  width: 100%;
}
.mouse-scrolling img{
  width: 1.5em;
  height: 1.5em;
  color: orange;
}
.my-social{
 text-align: center; 
}
.my-social a{
  color: #333;
  translate: .5s;
}
.my-social a.facebook:hover{
  color: #2196f3 ;
}
.my-social a.ig:hover{
  color: #e91e63 ;
}
.my-social a.line:hover{
  color: #4caf50 ;
}
#position_banner{
    width: 175px;
}
.my-profile-img{
  margin-bottom: 1em;
}
.my-profile-img img{
  width: 128px;
  height: 128px;
  position: relative;
  object-fit: cover;
  border-radius: 50%;
}
.my-details{
  margin: 2.5em 0px;
  text-align: left;
}
.my-details .col-lg-6{
  padding-top: 10px;
}
.navbar-top{
  margin-top: 1em;
  background :#fff;
}
.navbar-bottom{
  padding: .5em 2em;
  margin-bottom: 1em;
  background :#fff;
}
.navbar-top .navbar-nav .nav-item{
  padding: 0.5em 1em;
}
.cv-download{
  margin: 1em 0em;
  color: #fff;
}
.navbar-top .navbar-nav .nav-item.active .nav-link{
  color: orange;
  transition: .5s;
  border-bottom:solid 1px;
}
#exp{
  margin: 5em 0em;
}
.exp-title{
  font-size : 1em;
  margin: .5em 0em;
}
.exp-title span{
  border: solid 1px #fb8c00;
  padding: .5em;
}
.exp-contents{
  text-align: left;
}
.exp-body{
  margin : 2em 0em;
}
.exp-body .exp-job{
  margin : 1em 0em;
  font-weight : bold;
}

@keyframes typing {
    from { width: 0 }
    to { width: 175px }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
@keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
}
@keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .my-details{
    margin: 2.5em 0px;
    text-align: center;
  }
  .exp-contents{
    text-align: center;
  }
}






  
  