<template>
       <div class="my-content container  section" id="about">
                <b-row class="my-details">
                     <b-col class="my-profile-img"  lg="3" sm="12">
                        <h1 class="my-title text-primary">About me</h1>
                        <img src="../../assets/images/profile.jpg">
                    </b-col>
                    <b-col lg="9" sm="12">
                         <b-row >
                            <b-col lg="12">
                                <p>I'm web developer with 2+ year of experience design and developing the software. looking to leverage 
                           my wealth of knowledge and experience in to a role web developer</p>
                            </b-col>
                            <b-col lg="6">
                                <span class="text-primary">Name</span> : Phatipan Kerdsurasit
                            </b-col>
                             <b-col lg="6">
                                <span class="text-primary">Age</span>  : 25 Years
                            </b-col>
                           
                             <b-col lg="6">
                                <span class="text-primary">Job</span>  : Web Developer
                            </b-col>
                             <b-col lg="6">
                                <span class="text-primary">Citizenship</span>  : Thai
                            </b-col>
                             <b-col lg="6">
                                <span class="text-primary">Residence</span>  : Samutpakarn
                            </b-col>
                              <b-col lg="6"></b-col>
                             <b-col lg="6">
                                <span class="text-primary">E-mail</span>  : <a href="mailto:phatipan_ks@outlook.com">phatipan_ks@outlook.com</a>
                            </b-col>
                            <b-col lg="6">
                                <span class="text-primary">Phone Number</span>  : <a href="tel:0972976237">097-297-6237</a>
                            </b-col>
                             <b-col lg="6">
                               <b-button variant="warning" class="cv-download" @click="redirectTo('https://firebasestorage.googleapis.com/v0/b/phatipan-8beec.appspot.com/o/cv%20phatipan.pdf?alt=media&token=def7d64a-ffd1-4418-a815-eed9f08ce4d9')">Download CV</b-button>
                            </b-col>
                         </b-row>  
                    </b-col>
                </b-row>
            </div> 
</template>
<script>
export default {
    name: 'about',
    methods: {
        redirectTo: function(url){
        window.open(url,'_blank');
        }
    }
}
</script>