<template>
<div class="my-content container section" id="exp">
    <b-row>
        <b-col class="text-center"   lg="12">
            <b-row  class="exp-contents">
                <b-col lg="12">
                    <h1 class="my-title text-primary">Experience</h1>
                </b-col>
                <b-col lg="12">
                    <h2  class="exp-title"><span>2015 - Present</span></h2>
                    <div class="exp-body text-left">
                        <p class="exp-job"> Web Developer - Siamrajathanee </p>
                        <p>
                        - Full Stack web Developer responsible of back-end and front-end web app development.
                        </p>
                        <p>
                        - Designed and developed  Document management platform for organization.
                        </p>
                    </div>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
</div>
</template>
<script>
export default {
    name: 'experience'
}
</script>