<template>
<div class="my-content container section" id="skills">
    <b-row>
        <b-col class="text-center"   lg="12">
            <b-row  class="exp-contents">
                <b-col lg="12">
                    <h1 class="my-title text-primary">My Skills</h1>
                </b-col>
                <b-col lg="12">
                  <b-row>
                    <b-col lg="6" md="12">
                         <b-row class="text-center">
                            <b-col sm="12" class="text-center "><b>Front-End </b><hr /></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-html5 html"></h4><p>HTML5</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-css3-alt css"></h4><p>CSS</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-js-square js"></h4><p>Javascript</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-vuejs vue"></h4><p>Vue.js</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-react react"></h4><p>React.js</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-bootstrap bootstrap"></h4><p>Bootstrap</p></b-col>
                         </b-row>
                         <br />
                    </b-col>
                    <b-col lg="6" md="12">
                        <b-row class="text-center ">
                            <b-col lg="12" class="text-center "><b>Back-End </b><hr /></b-col>
                            <b-col sm="6" xs="6"><h4 class="fab fa-php php"></h4><p>PHP <br /><small>(CI, Laravel)</small></p></b-col>
                            <b-col sm="6" xs="6"><h4 class="fab fa-node-js node"></h4><p>Node.js <br /><small>(Express)</small></p></b-col>
                         </b-row>
                    </b-col>
                    <b-col lg="6" md="12">
                        <b-row class="text-center">
                            <b-col lg="12" class="text-center "><b>Others </b><hr /></b-col>
                            <b-col sm="4" xs="6"><h4 class="fa fa-database database"></h4><p>MYSQL </p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-git git"></h4><p>Git </p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-gitlab gitlab"></h4><p>Git Lab</p></b-col>
                            <b-col sm="4" xs="6"><h4 class="fab fa-gitkraken gitkraken"></h4><p>Git Kraken</p></b-col>
                         </b-row>
                    </b-col>
                  </b-row>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
</div>
</template>
<script>
export default {
    name: 'skills'
}
</script>
<style>
   .html{color:#fb8c00;}
   .css{color:#2196f3;}
   .js{color:#fdd835;}
   .react{color:#00bcd4;}
   .vue{color:#009688;}
   .bootstrap{color:#5e35b1;}
   .php{color:#5c6bc0 ;}
   .node{color:#4caf50;}
   .database{color:#ffeb3b;}
   .gitlab{color:#ffb300;}
   .gitkraken{color:#00897b;}
</style>