<template>
    <b-container>
        <br />
        <b-row>
            <b-col lg="12">
                Find Values : X, Y, Z
                <hr />
                <p>Values : 3, 5, 9, 15, X, Y, Z</p>
                <p> Answer : {{xyz}}</p>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {
    name: 'findXYZ',
    data (){
        return {
            xyz : ''
        }
    },
    mounted() {
        let values = [];
        let counter = 0;
        let start = 3;
        let i = 0;
        while (i < 7) {
            start += counter
            counter += 2
            values.push(start)
            i++;
        }
        this.xyz = values.join(', ');
    }
   
}
</script>
<style >
</style>