<template>
    <div>
        <b-navbar class="navbar-bottom navbar-fixed  justify-content-center" fixed="bottom">

            <b-navbar-nav class=" my-social">
                <b-nav-item>
                    <a class="facebook" @click="redirectTo('https://www.facebook.com/phatipan.kedsurasit')"><i class="fab fa-facebook"></i></a>
                </b-nav-item>
                <b-nav-item >
                    <a class="ig" @click="redirectTo('https://www.instagram.com/phatipan.k')"><i class="fab fa-instagram"></i></a>
                </b-nav-item>
                <b-nav-item >
                    <a class="line" @click="redirectTo('https://line.me/ti/p/~leafrobin')"><i class="fab fa-line"></i></a>
                </b-nav-item>
            </b-navbar-nav>
        </b-navbar>
    </div>
</template>
<script>
export default {
    'name': 'fooTer',
    methods: {
        redirectTo: function(url){
        window.open(url,'_blank');
        }
    },
}
</script>
