<template>
    <div v-scroll="handleScroll">
       <div class="my-border top"></div><div class="my-border left"></div>
       <div class="my-border right"></div><div class="my-border bottom"></div>
       <navBar :active="active"/>
       <div class="my-container">
        <div ref="myBanner">
                <div class="glitch">
                    <h1 class="glitch-content text-center"  data-text="PHATIPAN.K">PHATIPAN.K</h1>
                    <p class="writer-text text-center" id="position_banner">{{positionMessage}}</p>
                   
                    <div class="mouse-scrolling">
                        <img class="animated infinite fadeInDown slow delay-4s" src="../assets/images/mouse.svg" />
                    </div>
                </div>
        </div>
        <div class="text-center" v-if="loaded">  
            <about />
            <experience />
            <skills />
        </div>
       </div>
       <fooTer />
    </div>
</template>
<script>
import navBar from './navBar.vue';
import fooTer from './fooTer.vue';
import about from './sections/about.vue';
import experience from './sections/experience.vue';
import skills from './sections/skills.vue';

export default {
    data() {
        return {
            position: 'I\'m  Web Developer',
            loaded : false,
            sections : [],
            i : 0,
            active:{
                about: false,
                exp: false,
                skills: false
            }
        }
    },
    components :{
        navBar, fooTer, about, experience, skills
    },
    mounted:function (){
        var vm = this;
        vm.loaded = true;
        vm.$refs.myBanner.style.height = `${window.innerHeight}px`;
    },
    computed: {
       positionMessage: function () {
         return this.position;
        }
    },
    methods: {
        handleScroll: function() {
        /* eslint-disable */
           let vm = this;
           let section = document.getElementsByClassName('section')
           let scrollPosition = document.documentElement.scrollTop 
           let sections = {};
           let target = {};
           if(scrollPosition > 0){
               for(let i = 0; i < section.length; i++){
                    if ((section[i].offsetTop/1.5) <= scrollPosition) {
                            vm.handleNavTopActive(section[i].id);
                        //    return;
                    }
                }
           }else{
                vm.handleNavTopActive(null);
           }
           /* eslint-disable */
        },
        handleNavTopActive: function (section) {
           for(var key in this.active){
              this.active[key] =  (key == section) ?  true :  false
           }

        }
    },
    name : 'myCv', 
    props : {
        msg : String
    }
    
}
</script>
<style>
  
</style>