<template>
    <b-container>
        <br />
        <b-row>
            <b-col lg="12">
                Restaurants in Bangsue area
                <hr />
            </b-col>
            <b-col>
                <b-list-group class="restaurants">
                    <b-list-group-item v-for="place in places" v-bind:key="place.id">
                        <div class="rest-contents"> 
                            <div class="rest-icon">
                            <img :src="place.icon"/>
                            </div>
                            <div class="rest-details">
                                {{place.name}}
                                <div class="res-images"  v-if="typeof place.photos !== 'undefiend' ">
                                   <div class="image-box" v-for="(photo ,index) in place.photos" v-bind:key="index">
                                        <img :src="getPhotoBase64(photo.photo_reference)">
                                   </div>
                                </div>
                            </div>
                        </div>
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {
    name: 'myPlace',
    data (){
        return {
            places : []
        }
    },
    mounted() {
       let vm = this;
        vm.$http.get('https://api-phatipan.firebaseapp.com/scg/place').then((response) => {
            if(response.data.status == 'OK'){
                vm.places = response.data.results;
            }
        })
    },
    methods: {
        getPhotoBase64: function (img){
            let url = `https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=${img}&key=AIzaSyCUQW3tOWQ7KwnukeLteyMNaftAG9JjklQ`
            return url
        }
    },
}
</script>
<style >
    .restaurants .rest-icon img{
        width: 32px;
        height: 32px;
    }
    .restaurants .rest-contents{
        display: flex;
    }
    .restaurants .rest-details{
        padding : 0px 15px;
    }
    .restaurants .rest-details img{ 
        width:200px;
        height:200px;
        margin :15px 0px;
        object-fit:cover;
        border-radius: 5px; 
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
</style>