<template>
    <div>
        <b-navbar class="navbar-top navbar-fixed" toggleable="lg" fixed="top">
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <b-nav-item v-scroll-to="'#about'" v-bind:class="{ active: active.about }" ref="about_section" >About me</b-nav-item>
                <b-nav-item v-scroll-to="'#exp'" v-bind:class="{ active: active.exp }" class="nav-btn" >Experience</b-nav-item>
                <b-nav-item v-scroll-to="'#skills'" v-bind:class="{ active: active.skills}" class="nav-btn">My Skills</b-nav-item>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
export default {
  name: 'navBar',
  props: {
    active: {
        about : Boolean,
        exp : Boolean
    }
  },
  methods: {
      toSection: function (section){
          document.location.href=`#${section}`;
      }
  },
}
</script>
<style>
    .navbar-toggler{
        border: none !important;
        width: 100%;
    }
</style>